@model Bangazon.Models.ViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Product Types</h1>

<table class="table">

    <thead>
        <tr>
           
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.Types)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TypeName, "Index", "Products", new { id = item.TypeId }, new { area = "" })
                        (@Html.DisplayFor(Item => item.ProductCount))


                    <ol>
                    @foreach (var prod in item.Products)
                    {
                        <li>  @Html.ActionLink(prod.Title, "Details", "Products", new { id = prod.ProductId }, new { area=""})</li>
                    }
                    </ol>
                </td>

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
            </tr>
        }
    </tbody>
</table>
